<div class="admin-list-vehicle-container">
  <h2>Parc de véhicules</h2>

  <div class="vehicle" *ngFor="let vehicle of vehicleList">
    <img src="{{ vehicle.picture }}" />
    <div>
      <h5>{{ vehicle.brand }} - {{ vehicle.model }} </h5>

      <p>{{ vehicle.numberplate }}
      </p>
      <p>Statut : {{ vehicle.vehicleStatus }}</p>
      <p>Catégorie : {{ vehicle.category }}</p>
      <p>
        Places disponibles : {{ vehicle.seatCapacity }}
      </p>
    </div>
    <button class="modif" type="button" [routerLink]="['create-update' , true]" (click)="updateVehicle( vehicle )">
      Modifier
    </button>
    <button type="button" (click)="deleteVehicleById( vehicle.id )" class="suppr">Supprimer</button>
  </div>

  <div>
    <button type="button" class="btn btn-outline-success btn-lg" [routerLink]="['create-update', false]">Ajouter un
      nouveau
      véhicule</button>
  </div>
</div>