<div class="date-selection">
  <h3>Réserver un covoiturage</h3>
  <form class="form-container" (ngSubmit)="searchBooking()">
    <div class="date-container">
      <div class="date-pick">
        <p class="title">Début</p>
        <input placeholder="Date de début" name="start" [(ngModel)]="startDate"
          [markDisabled]="checkIfStartDateNotPassed" readonly ngbDatepicker #start="ngbDatepicker" />
        <button class="btn btn-outline-secondary bi bi-calendar" (click)="start.toggle()" type="button">
        </button>
        <ngb-timepicker [(ngModel)]="startTime" [readonlyInputs]="true"
          [ngModelOptions]="{standalone: true, updateOn: 'change'}">
        </ngb-timepicker>
      </div>
      <div class="line"></div>

    </div>
    <button type="submit">Rechercher</button>
  </form>
</div>

<div *ngIf="startTimeError " class="error-container alert alert-danger" role="alert">
  <p *ngIf="startTimeError" class="error-message">
    L'heure de départ choisie ne peut pas être inférieure à l'heure actuelle
  </p>
</div>

<div class="separator">
  <div class="line"></div>
</div>

<app-carpoolings-list [advertCarpoolings]="advertCarpoolings">
</app-carpoolings-list>