<div class="create-update-container">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Ajouter ou modifier un Employé</h1>
    </div>
  </div>

  <div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="action-buttons">
        <button type="submit" class="btn btn-primary" (click)="onSubmitFormToAdd()">
          Ajouter le nouvel employé
        </button>
        <button type="submit" class="btn btn-primary" (click)="onSubmitFormToUpdate()">
          Accepter les modifications
        </button>
      </div>

      <div class="form-group">
        <label class="col-md-4" for="username">Nom d'utilisateur</label>
        <input class="form-control" type="text" id="username" formControlName="username"
          [(ngModel)]="employee.username" />
      </div>

      <div class="form-group">
        <label class="col-md-4" for="brand">Mot de passe</label>
        <input type="text" class="form-control" id="password" formControlName="password"
          [(ngModel)]="employee.password" />
      </div>

      <div class="form-check">
        <label class="form-check-label" for="isAdmin"> Administrateur? </label>
        <input class="form-check-input" type="checkbox" id="isAdmin" formControlName="isAdmin"
          [(ngModel)]="employee.isAdmin" [checked]="employee.isAdmin == true"
          [defaultValue]="employee.isAdmin == false" />
      </div>

      <div class="action-buttons">
        <button type="submit" class="btn btn-primary" (click)="onSubmitFormToAdd()">
          Ajouter l'employé
        </button>
        <button type="submit" class="btn btn-primary" (click)="onSubmitFormToUpdate()">
          Accepter les modifications
        </button>
      </div>
    </form>
  </div>

  <div class="form-group" *ngIf="faceSnapPreview$ | async as joseoh"></div>

</div>