<div class="booking-container">
    <header>
        <h1>Mes Covoiturages</h1>
        <div>
            <button [ngClass]="{'green' : !driverOrNot}" (click)="switchPassenger()">
                <p>Passager</p>
            </button>
            <button [ngClass]="{'green' : driverOrNot}" (click)="switchDrive()">
                <p>Chauffeur</p>
            </button>
        </div>
    </header>
    <main>
        <aside *ngIf="driverOrNot" id="Driver">
            <h3><img src="../../../assets/img/play.png"> En cours</h3>
            <button class="current" *ngFor="let advert of advertCarpoolingList" (click)="getCarpooling(advert)">
                <p>{{ advert.departure }}</p>
            </button>
            <h3><img src="../../../assets/img/history.png"> Terminés</h3>
            <button class="finish" *ngFor="let advert of advertCarpoolingList" (click)="getCarpooling(advert)">
                <p>{{ advert.departure }}</p>
            </button>
        </aside>
        <aside *ngIf="!driverOrNot" id="Not">
            <div>
                <p>Vous n'avez pas encore de covoiturage</p>
            </div>
        </aside>
        <article *ngIf="driverOrNot" id="Driver">
            <div>
                <p>{{ advertCarpooling.departure }}</p>
                <p>{{ advertCarpooling.departureAdress }}</p>
                <p>{{ advertCarpooling.arrivalAdress }}</p>
                <p>{{ advertCarpooling.seatAvailable }}</p>
            </div>
        </article>
        <article *ngIf="!driverOrNot" id="Not">
            <div>
                <p>Vous n'avez pas encore de covoiturage</p>
            </div>
        </article>
    </main>
</div>