<div class="vehicle-carousel">
  <ngb-carousel *ngIf="vehicles.length > 0">
    <ng-template ngbSlide *ngFor="let vehicle of vehicles">
      <div class="picsum-img-wrapper">
        <img src="{{ vehicle.picture }}" alt="Random slide"/>
      </div>
      <div class="carousel-caption">
        <h3> {{vehicle.brand }} {{ vehicle.model }}</h3>
        <p>Places : {{ vehicle.seatCapacity }}</p>
        <button (click)="getBookingInfo(vehicle)"
                data-bs-toggle="modal"
                data-bs-target="#createBookingModal"
                type="button"
                [disabled]="errors">Réserver
        </button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="modal fade" aria-labelledby="createBookingModalLabel" aria-hidden="true" id="createBookingModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Valider la réservation ?</h3>
      </div>
      <br>
      <p class="title">Date de début</p>
      <div class="modal-info">
        <p>{{locationStart | date}} à {{locationStart | date: 'shortTime'}}</p>
      </div>
      <p class="title">Date de fin</p>
      <div class="modal-info">
        <p>{{locationEnd | date}} à {{locationEnd | date: 'shortTime'}}</p>
      </div>
      <p class="title">Véhicule</p>
      <div class="modal-info">
        <p>{{vehicle.brand}} {{vehicle.model}} avec {{vehicle.seatCapacity}} places</p>
      </div>
      <div class="button-container">
        <button type="submit" data-bs-dismiss="modal" (click)="addBooking(vehicle)">Confirmer</button>
        <button type="button" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

