<div class="booking-container">
    <header>
        <h1>Mes Covoiturages</h1>
        <div>
            <button>
                <p>Passager</p>
            </button>
            <button>
                <p>Chauffeur</p>
            </button>
        </div>
    </header>
    <main>
        <aside>
            <h3><img src="../../../assets/img/play.png"> En cours</h3>
            <button class="current">
                <p>Polo</p>
                <p>5/03/2023 10h00</p>
            </button>
            <h3><img src="../../../assets/img/history.png"> Terminés</h3>
            <button class="finish">
                <p>BMW</p>
                <p>5/02/2023 10h00</p>
            </button>
        </aside>
        <article></article>
    </main>
</div>