<div class="card-container">
  <div class="cards" *ngFor="let advertCarpooling of advertCarpoolings">
    <p class="title">Covoiturage organisé par {{ advertCarpooling.idEmployee }}</p>
    <p>Départ : {{ advertCarpooling.departure }}</p>
    <p>De : {{ advertCarpooling.departureAdress }}</p>
    <p>Vers : {{ advertCarpooling.arrivalAdress }}</p>
    <p>Nombre de sièges dispos : {{ advertCarpooling.seatAvailable }}</p>
    <button (click)="getBookingInfo(advertCarpooling)" data-bs-toggle="modal" data-bs-target="#createBookingModal"
      type="button" [disabled]="errors">Réserver
    </button>
  </div>
</div>

<div class="modal fade" aria-labelledby="createBookingModalLabel" aria-hidden="true" id="createBookingModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Valider la réservation ?</h3>
      </div>
      <br>

      <p class="title">Annonce de covoiturage</p>
      <div class="modal-info">
        <p>Départ : {{ advertCarpooling.departure }}
          De : {{ advertCarpooling.departureAdress }}
          Vers : {{ advertCarpooling.arrivalAdress }}
          Nombre de sièges dispos : {{ advertCarpooling.seatAvailable }}</p>

      </div>
      <div class="button-container">
        <button type="submit" data-bs-dismiss="modal"
          (click)="addBookingCarpooling(advertCarpooling)">Confirmer</button>
        <button type="button" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>