.nav-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    
    background-color: #fff;
    border: 0;
    border-radius: 2ex;
    height: 7ex;
    width: 20ex;

    img {
        position: absolute;
        right: -1ex;

        height: 4ex;
        width: 4ex;
    }

    p {
        margin: 0;
        padding: 0;
        width: 80%;
    }
}

.nav-button-container:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}