<div class="booking-container">
    <header>
        <h1>Mes Réservations</h1>
    </header>
    <main>
        <aside>
            <h3><img src="../../../assets/img/play.png"> En cours</h3>
            <h3><img src="../../../assets/img/history.png"> Terminés</h3>
            <div>
                <p>Vous n'avez pas encore de réservation</p>
            </div>
        </aside>
        <article>
            <div>
                <div>
                    <p class="title">Début de la réservation</p>
                    <!-- <p class="text">{{ advertCarpooling.departure }}</p> -->
                </div>
                <div>
                    <p class="title">Adresse de départ</p>
                    <!-- <p class="text">{{ advertCarpooling.departureAdress }}</p> -->
                </div>
                <div>
                    <p class="title">Adresse d'arrivée</p>
                    <!-- <p class="text">{{ advertCarpooling.arrivalAdress }}</p> -->
                </div>
                <div>
                    <p class="title">Place disponible</p>
                    <!-- <p class="text">{{ advertCarpooling.seatAvailable }}</p> -->
                </div>
            </div>
        </article>
    </main>
</div>