<div class="admin-list-employee-container">
  <h2>Liste des Employés</h2>

  <div class="employee" *ngFor="let employee of employeeList">
    <h5 class="card-title">{{ employee.username }}</h5>
    <div class="card-footer">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button" [routerLink]="['create-update', true]"
          (click)="updateEmployee( employee )">
          Modifier
        </button>
        <button type="button" (click)="deleteEmployeeById(employee.id)" class="btn btn-danger">
          Supprimer
        </button>
      </div>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-outline-success btn-lg" [routerLink]="['create-update']">Ajouter un
      Employé</button>
  </div>
</div>