<div class="booking-container">
    <header>
        <h1>Mes Covoiturages</h1>
        <div>
            <button [ngClass]="{'green' : !driverOrNot}" (click)="switchPassenger()">
                <p>Passager</p>
            </button>
            <button [ngClass]="{'green' : driverOrNot}" (click)="switchDrive()">
                <p>Chauffeur</p>
            </button>
        </div>
    </header>
    <main>
        <aside *ngIf="driverOrNot" id="Driver">
            <button class="add" routerLink="/profil/create-carpooling">
                <img src="../../../assets/img/add.png">
                <p>Créer un covoiturage</p>
            </button>
            <h3><img src="../../../assets/img/play.png"> En cours</h3>
            <button class="current" *ngFor="let advert of advertCarpoolingCurrentList" (click)="getCarpooling(advert)">
                <p>{{ advert.departure }}</p>
            </button>
            <h3><img src="../../../assets/img/history.png"> Terminés</h3>
            <button class="finish" *ngFor="let advert of advertCarpoolingFinishList" (click)="getCarpooling(advert)">
                <p>{{ advert.departure }}</p>
            </button>
        </aside>
        <aside *ngIf="!driverOrNot" id="Not">
            <button class="add" routerLink="/profil/create-carpooling">
                <img src="../../../assets/img/add.png">
                <p>Créer un covoiturage</p>
            </button>
            <h3><img src="../../../assets/img/play.png"> En cours</h3>
            <button class="current" *ngFor="let advert of bookingAdvertCarpoolingCurrentList"
                (click)="getCarpooling(advert)">
                <p>{{ advert.departure }}</p>
            </button>
            <h3><img src="../../../assets/img/history.png"> Terminés</h3>
            <button class="finish" *ngFor="let advert of bookingAdvertCarpoolingFinishList"
                (click)="getCarpooling(advert)">
                <p>{{ advert.departure }}</p>
            </button>
        </aside>
        <article *ngIf="driverOrNot" id="Driver">
            <div>
                <div>
                    <p class="title">Début de la réservation</p>
                    <p class="text">{{ advertCarpooling.departure }}</p>
                </div>
                <div>
                    <p class="title">Adresse de départ</p>
                    <p class="text">{{ advertCarpooling.departureAdress }}</p>
                </div>
                <div>
                    <p class="title">Adresse d'arrivée</p>
                    <p class="text">{{ advertCarpooling.arrivalAdress }}</p>
                </div>
                <div>
                    <p class="title">Place disponible</p>
                    <p class="text">{{ advertCarpooling.seatAvailable }}</p>
                </div>
                <div>
                    <p class="title">Organisateur</p>
                    <p class="text">{{ advertCarpooling.idEmployee!.username }}</p>
                </div>
            </div>
        </article>
        <article *ngIf="!driverOrNot" id="Not">
            <div>
                <div>
                    <p class="title">Début de la réservation</p>
                    <p class="text">{{ advertCarpooling.departure }}</p>
                </div>
                <div>
                    <p class="title">Adresse de départ</p>
                    <p class="text">{{ advertCarpooling.departureAdress }}</p>
                </div>
                <div>
                    <p class="title">Adresse d'arrivée</p>
                    <p class="text">{{ advertCarpooling.arrivalAdress }}</p>
                </div>
                <div>
                    <p class="title">Place disponible</p>
                    <p class="text">{{ advertCarpooling.seatAvailable }}</p>
                </div>
            </div>
        </article>
    </main>
</div>